html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  position : absolute;
  top : 0px;
  left : 0px;
  display: block;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}